<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="shortcut icon" href="./images/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/style.css">
</head>
