<!DOCTYPE html>
{{>header}}
<body>
  <div class="main-content">
    <h1>{{title}}</h1>
    <p>Enter city name to show weather data</p>
    <form id="weatherForm">
      <input type="text" id="location">
      <button>Search</button>
    </form>
    <div class="output">
      <p id="cityname"></p>
      <div id="forcastdata"></div>
    </div>
  </div>
  {{>footer}}
  <script src="./js/app.js"></script>
</body>
</html>